@tailwind base;
@tailwind components;
@tailwind utilities;


body {background-color: black;color: white;}

@keyframes fadeInDown {
    from {opacity: 0;transform: translateY(-20px);}
    to {opacity: 1;transform: translateY(0);}
}

.navbar-fadeDown {animation: fadeInDown 2s ease-out;}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.stars-fadeIn {
    animation: fadeIn 0.5s ease-out 0.5s forwards;
    animation-fill-mode: both;
}

/* Reduced motion for users who prefer it 
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }
}
*/
html {
  scroll-behavior: smooth;
}

canvas {
  display: block;
}

.heroLine{
    background: linear-gradient(#ffffff, transparent);
}

.skillDiv:hover > .skillName{
    display: block;
}

.skillDiv:hover > .skillImg{
    background-color: white;
    box-shadow: 0 0 15px white;
}

.bigSkillDiv:hover > .skillDiv{
    opacity: 0.2;
}

.bigSkillDiv .skillDiv:hover{
    opacity: 1;
    transform: scale(1.1);
}




@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-33.333%);
    }
}
.animate-scroll {
    animation: scroll 5s linear infinite;
    display: inline-flex;
}

.animate-scroll:hover {
    animation-play-state: paused;
}